{%- if section.blocks.size > 0 -%}
<div class="section-spacing {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
  <div class="container {% if section.settings.text_alignment == 'center' %}container--xl{% endif %}">
    <div class="section-stack">
      {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, content: section.settings.content, text_alignment: section.settings.text_alignment -%}

      <!-- DESKTOP LAYOUT -->

      <x-tabs class="content-tabs {% if section.settings.text_alignment == 'center' %}content-tabs--center{% endif %} hidden sm:block">
        <template shadowrootmode="open">
          <slot role="tablist" part="tab-list" name="title"></slot>
          <slot part="tab-panel-list" name="content"></slot>
        </template>

        {%- for block in section.blocks -%}
          {%- assign title = block.settings.title | default: block.settings.page.title -%}
          {%- assign content = block.settings.page.content | default: block.settings.content -%}

          {%- if title != blank and content != blank -%}
            <button class="h6" type="button" role="tab" slot="title" {{ block.shopify_attributes }}>{{ title }}</button>

            <div role="tabpanel" slot="content" {% cycle '', 'hidden', 'hidden', 'hidden', 'hidden' %}>
              {% if block.settings.collection %}
                <div class="product-list">
                  {%- for product in block.settings.collection.products limit: block.settings.products_count -%}
                      {%- render 'product-card', product: product, reveal: true, hide_product_information: section.settings.hide_product_information, block: block -%}
                    {%- else -%}
                      <p>No products found in this collection.</p>
                  {%- endfor -%}
                </div>
              {% else %}
                <div class="prose">
                  {{- content -}}
                </div>
              {% endif %}
            </div>

            <div slot="accordion-tab">
              {%- render 'accordion', title: title, content: content, open: block.settings.open_on_mobile -%}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </x-tabs>

      <!-- MOBILE LAYOUT -->

      <div class="accordion-group sm:hidden">
        {%- for block in section.blocks -%}
          {%- assign title = block.settings.title | default: block.settings.page.title -%}
          {%- assign content = block.settings.page.content | default: block.settings.content -%}

          {%- if title != blank and content != blank -%}
            {%- render 'accordion', title: title, content: content, open: block.settings.open_on_mobile -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{%- endif -%}

{% schema %}

  {
  "name": "Collection Tabs",
  "class": "shopify-section--collection-tabs",
  "max_blocks": 5,
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "Separate section with border",
      "default": true
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading",
      "default": "Collection Tabs"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "hide_product_information",
      "label": "Hide product information",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Collection Tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab title",
          "default": "Collection Tab"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "range",
          "id": "products_count",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Number of products to display",
          "default": 4
        },
        {
          "type": "checkbox",
          "id": "open_on_mobile",
          "label": "Open on mobile by default",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Tabs",
      "blocks": [
        {
          "type": "tab",
          "settings": {
            "title": "Collection 1"
          }
        },
        {
          "type": "tab",
          "settings": {
            "title": "Collection 2"
          }
        },
        {
          "type": "tab",
          "settings": {
            "title": "Collection 3"
          }
        }
      ]
    }
  ]
}
{% endschema %}